<section class="bill">
    <div class="search">
        <div>
            <label><span>名称</span><input type="text" ng-model="searchInfo.bill.supplierName"></label>
            <label><span>账单时间</span>
                <input type="text" ui-date="dateOptions" ng-model="searchInfo.bill.billendtime">
            </label>
            <div class="button-container">
                <div class="button tiny info" ng-click='search()'>查询</div>
                <div class="button tiny" ng-click='add()'>添加</div>
            </div>
        </div>
    </div>
    <table class="content-list">
        <thead>
            <tr>
            	<th ng-repeat="tableH in tableHead" ng-bind="tableH"></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="bill in data.bills">
                <td>
                	<span ng-bind="bill.billendtime | getDataFromStr | date:'yyyy-MM-dd'"></span>
                </td>
                <td>
                    <span ng-bind="bill.name"></span>
                </td>
                <td>
                    <span ng-bind="bill.peopletype==1?'客户':bill.peopletype==1?'供应商':''"></span>
                </td>
                <td>
                    <span ng-bind="bill.totlemoney"></span>
                </td>
                <td>
                    <span ng-bind="bill.paidmoney"></span>
                </td>
                <td>
                    <span ng-bind="bill.unpaidmoney"></span>
                </td>
                <td width="80px">
                    <div class="button tiny" ng-click="edit()">修改</div>
                </td>
            </tr>
        </tbody>
    </table>
    
    <pagination total-items="totalItems" items-per-page="searchInfo.page.pageSize" page="searchInfo.page.pageNo" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages" previous-text="上一页" next-text="下一页" first-text="首页" last-text="末页" on-select-page="setPage(page)"></pagination>
</section>
