<h4 ng-bind="modal.title"></h4>

<table class="content-list">
    <thead>
        <tr>
        	<th>供应商</th>
        	<th>材料</th>
        	<th>数量</th>
        	<th>金额（元）</th>
        	<th>是否付款</th>
        	<th>备注</th>
        	<th>操作</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="buy in addBuys">
            <td>
            	<select type="text" ng-model="buy.supplierid" ng-change="supplierChange(buy)">
                    <option value="">-- 请选择 --</option>
            		<option ng-repeat="supplier in modal.supplierInfo.suppliers" ng-value="supplier.id" ng-bind="supplier.name" ng-selected="supplier.id==buy.supplierid"></option>
            	</select>
            </td>
            <td>
                <select type="text" ng-model="buy.supplierName">
                    <option value="">-- 请选择 --</option>
                    <option ng-repeat="goods in buy.supplier.list" ng-value="goods.name" ng-bind="goods.name" ng-bind="supplier.name" ng-selected="goods.name==buy.supplierName"></option>
                </select>
            </td>
            <td>
                <input type="text" ng-model="buy.count">
            </td>
            <td>
                <input type="text" ng-model="buy.totalmoney">
            </td>
            <td>
                <select type="text" ng-model="buy.ispaid">
                    <option ng-value="0" ng-selected="buy.ispaid==0">否</option>
                    <option ng-value="1" ng-selected="buy.ispaid==1">是</option>
                </select>
            </td>
            <td>
                <input type="text" ng-model="buy.note">
            </td>
            <td>
            	<!-- <div class="button tiny" ng-click="edit()">编辑</div> -->
            	<div class="button tiny" ng-click="delete()">删除</div>
            </td>
        </tr>
        <tr>
            <td>
            	<select type="text" value="{{addBuy.supplierid}}" ng-model="addBuy.supplierid" ng-change="supplierChange(addBuy)" >
                    <option value="" ng-selected="''==addBuy.supplierid">-- 请选择 --</option>
            		<option ng-repeat="supplier in modal.supplierInfo.suppliers" ng-value="supplier.id" ng-bind="supplier.name" ng-selected="supplier.id==addBuy.supplierid"></option>
            	</select>
            </td>
            <td>
                <select type="text" type="text" ng-model="addBuy.supplierName">
                    <option value="">-- 请选择 --</option>
                	<option ng-repeat="goods in addBuy.supplier.list" ng-value="goods.name" ng-bind="goods.name"></option>
                </select>
            </td>
            <td width="60px">
                <input type="text" ng-model="addBuy.count">
            </td>
            <td>
                <input type="text" ng-model="addBuy.totalmoney">
            </td>
            <td width="80px">
                <select type="text" ng-model="addBuy.ispaid">
                    <option ng-value="0" ng-selected="addBuy.ispaid==0">否</option>
                    <option ng-value="1" ng-selected="addBuy.ispaid==1">是</option>
                </select>
            </td>
            <td>
                <input type="text" ng-model="addBuy.note">
            </td>
            <td width="80px">
            	<div class="button tiny" ng-click="add()">添加</div>
            </td>
        </tr>
    </tbody>
</table>

<p class="validate-msg"></p>
<p ng-class="msg.success?'successmsg':'errormsg'" ng-bind="msg.message"></p>
<button class="button" ng-click="ok()">保存</button>
<a class="close-reveal-modal" ng-click="cancel()">&#215;</a>
