.buy-modal {
	.table-content {
		max-height: 200px;
		overflow: auto;
		border: 1px solid #aaa;
		padding: 0.1rem 0;
		table {
			margin-bottom: 0.2rem;
		}
	}
	.add {
		background: #5C8D9E;
	}
}
.buy {
	.search {
		>div {
			margin: 0;
		}
	}
}
