<section class="user">
    <div class="search">
        <div>
            <label>姓名<input type="text" ng-model="searchInfo.client.name"></label>   
            <label>电话<input type="text" ng-model="searchInfo.client.mobile"></label>
            <div class="button-container">
                <div class="button tiny info" ng-click='search()' ng-if="checkRight('client/index')">查询</div>
                <div class="button tiny" ng-click='add()' ng-if="checkRight('client/update')">添加</div>
            </div>
        </div>
    </div>
    <table class="content-list">
        <thead>
            <tr>
            	<th ng-repeat="clientH in clientHead" ng-bind="clientH"></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="client in data.clients">
                <td>
                	<span ng-bind="client.name"></span>
                </td>
                <td>
                	<span ng-bind="client.mobile"></span>
                </td>
                <td >
                	<div class="button tiny" ng-click="edit()" ng-if="checkRight('client/update')">修改</div>
                </td>
            </tr>
        </tbody>
    </table>
    
    <pagination total-items="totalItems" items-per-page="searchInfo.page.pageSize" page="searchInfo.page.pageNo" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages" previous-text="上一页" next-text="下一页" first-text="首页" last-text="末页" on-select-page="setPage(page)"></pagination>
</section>
