<h4 ng-bind="modal.title"></h4>
<form class="" id="goodsModalForm">
    <div class="line-input">
        <label><span><i>*</i>名称</span>
            <input name="name" type="text" ng-model="modal.goods.name">
        </label>
        <label><span><i>*</i>类型</span>
            <select name="goodstype" ng-model="modal.goods.goodstype">
                <option ng-repeat="op in modal.options" ng-value="op.id" ng-selected="modal.goods.goodstype==op.id" ng-bind="op.name"></option>
            </select>
        </label>
    </div>
    <div class="line-input">
        <label><span>价格</span>
            <input name="price" type="number" min="0" ng-model="modal.goods.price">
        </label>
        <label><span>单位</span>
            <input name="unit" type="text" ng-model="modal.goods.unit">
        </label>
        <label><span>行数</span>
            <input name="number" type="number" min="0" ng-model="modal.goods.number">
        </label>
    </div>
    <div class="line-input">
        <label><span>备注1</span>
            <input name="" id="" ng-model="modal.goods.note[0]">
        </label>
    </div>
    <div class="line-input">
        <label><span>备注2</span>
            <input name="" id="" ng-model="modal.goods.note[1]">
        </label>
    </div>
    <div class="line-input">
        <label><span>备注3</span>
            <input name="" id="" ng-model="modal.goods.note[2]">
        </label>
    </div>
    <div class="line-input">
        <label><span>备注4</span>
            <input name="" id="" ng-model="modal.goods.note[3]">
        </label>
    </div>
    <div class="line-input">
        <label><span>备注5</span>
            <input name="" id="" ng-model="modal.goods.note[4]">
        </label>
    </div>
</form>
<p class="validate-msg"></p>
<p ng-class="msg.success?'successmsg':'errormsg'" ng-bind="msg.message"></p>
<button class="button" ng-click="ok()">保存</button>
<a class="close-reveal-modal" ng-click="cancel()">&#215;</a>
