<section class="user">
    <div class="search">
        <div>
            <label>名称<input type="text" ng-model="searchInfo.goods.name"></label>   
            <div class="button-container">
                <div class="button tiny" ng-click='search()'>查询</div>
                <div class="button tiny add" ng-click='add()'>添加</div>
            </div>
        </div>
    </div>
    <table class="content-list">
        <thead>
            <tr>
            	<th ng-repeat="goodsH in goodsHead" ng-bind="goodsH"></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="goods in data.goods" ng-init="goods.editable=true">
                <td>
                	<input type="text" ng-model="goods.name" ng-disabled="goods.editable">
                </td>
                <td>
                	<input type="text" ng-model="goods.price" ng-disabled="goods.editable">
                </td>
                <td >
                	<div class="button tiny" ng-click="edit()">编辑</div>
                </td>
            </tr>
        </tbody>
    </table>
</section>
