<section class="note">
    <div class="search">
        <div>
            <label><span>名称</span><input type="text" ng-model="searchInfo.note.supplierName"></label>
            <label><span>起始时间</span>
                <input type="text" ui-date="dateOptions" ng-model="searchInfo.note.startTime">
            </label>
            <label><span>截止时间</span>
                <input type="text" ui-date="dateOptions" ng-model="searchInfo.note.endTime">
            </label>
            <div class="button-container">
                <div class="button tiny info" ng-click='search()'   ng-if="checkRight('note/index')">查询</div>
                <div class="button tiny" ng-click='add()'   ng-if="checkRight('note/update')">添加</div>
            </div>
        </div>
    </div>
    <table class="content-list">
        <thead>
            <tr>
            	<th ng-repeat="tableH in tableHead" ng-bind="tableH"></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="note in data.notes">
                <td>
                    <span ng-bind="note.name"></span>
                </td>
                <td>
                	<span ng-bind="note.notetime | getDataFromStr | date:'yyyy-MM-dd'"></span>
                </td>
                <td width="100px">
                    <div class="button tiny" ng-click="view()">查看详情</div>
                </td>
                <td width="150px">
                    <div class="button tiny" ng-click="edit()"  ng-if="checkRight('note/update')">修改</div>
                    <div class="button tiny" ng-click="delete()"  ng-if="checkRight('note/delete')">删除</div>
                </td>
            </tr>
        </tbody>
    </table>
    
    <pagination total-items="totalItems" items-per-page="searchInfo.page.pageSize" page="searchInfo.page.pageNo" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages" previous-text="上一页" next-text="下一页" first-text="首页" last-text="末页" on-select-page="setPage(page)"></pagination>
</section>
