<section class="order-main" ui-view>
    <div class="search">
        <div>
            <label><span>名称</span>
                <input type="text" ng-model="searchInfo.order.peoplename">
            </label>
            <label><span>产品</span>
                <input type="text" ng-model="searchInfo.order.ordername">
            </label>
            <label><span>状态</span>
                <select ng-model="searchInfo.order.orderstatus">
                    <option value="">全选</option>
                    <option value="0">待发货</option>
                    <option value="1">已发货</option>
                    <option value="2">推迟处理</option>
                </select>
            </label>
            <label><span>起始时间</span>
                <input type="text" ui-date="dateOptions" ng-model="searchInfo.order.startTime">
            </label>
            <label><span>截止时间</span>
                <input type="text" ui-date="dateOptions" ng-model="searchInfo.order.endTime">
            </label>
            <div class="button-container">
                <div class="button tiny info" ng-click="search()">查询</div>
                <div class="button tiny" ng-click="add()">添加</div>
            </div>
        </div>
    </div>
    <table class="content-list">
        <thead>
            <tr>
                <th>时间</th>
                <th>名称</th>
                <th>产品</th>
                <th ng-if="RIGHT.money">金额</th>
                <th>状态</th>
                <th>最后修改</th>
                <th ng-if="RIGHT.detail">明细</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="order in data.orders" ng-init="statusList = ['待发货', '已发货', '推迟处理']">
                <td>
                    <span ng-bind="order.ordertime | getDataFromStr | date:'yyyy-MM-dd'"></span>
                </td>
                <td>
                    <span ng-bind="order.peoplename"></span>
                </td>
                <td>
                    <span ng-bind="order.ordername"></span>
                </td>
                <td ng-if="RIGHT.money">
                    <span ng-bind="order.orderamount"></span>
                </td>
                <td>
                    <div class="select-sp">
                        <i class="fa fa-caret-down"></i>
                        <select ng-init="order.orderstatus0 = order.orderstatus" ng-model="order.orderstatus" ng-change="updateState(order)" ng-style="order.orderstatus == 0?{color: 'red'}:{}">
                            <option value="0" ng-selected="order.orderstatus == 0">待发货</option>
                            <option value="1" ng-selected="order.orderstatus == 1">已发货</option>
                            <option value="2" ng-selected="order.orderstatus == 2">推迟处理</option>
                        </select>
                    </div>
                    <!-- <span ng-bind="statusList[order.orderstatus]"></span> -->
                </td>
                <td>
                    <span ng-bind="order.edittime | getDataFromStr | date:'MM-dd HH:mm'"></span>
                </td>
                <td class="td-button-container" style="width:6rem;" ng-if="RIGHT.detail">
                    <div class="button tiny" ng-click="view(order)">查看明细</div>
                    <!-- <input type="text" ng-model="order.note" ng-disabled="order.editable"> -->
                </td>
                <td style="width:8rem;">
                    <div class="button tiny" ng-click="edit(order)">修改</div>
                    <div class="button tiny" ng-click="delete(order)">删除</div>
                </td>
            </tr>
        </tbody>
    </table>
    <pagination total-items="totalItems" items-per-page="searchInfo.page.pageSize" page="searchInfo.page.pageNo" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages" previous-text="上一页" next-text="下一页" first-text="首页" last-text="末页" on-select-page="setPage(page)"></pagination>
</section>
