.statistics {
	.search {
		text-align: right;
		label {
			display: inline-block;
			input {
				display: inherit;
			}
		}
		.button {
			display: inline;
			margin-right: 0.5rem;
		}
	}
	.search2 {
		display: flex;
		padding: 0.5rem;
		label {
			flex: 1;
			display: flex;
			span {
				line-height: 2rem;
			}
			input {
				flex: 1;
				margin: 0 0.5rem;
				height: 2rem;
			}
		}
	}
	table {
		td {
			padding: 0.4rem 0;
		}
		td:last-child {
			text-align: left;
		}
	}
}