<section class="user">
    <div class="search">
        <div>
            <div class="button-container">
                <div class="button tiny add" ng-click='add()'>添加</div>
            </div>
        </div>
    </div>
    <table class="content-list">
        <thead>
            <tr>
            	<th ng-repeat="userH in userHead" ng-bind="userH"></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in data.users" ng-init="user.editable=true">
                <td>
                	<input type="text" ng-model="user.username" ng-disabled="user.editable">
                </td>
                <td>
                	<input type="text" ng-model="user.name" ng-disabled="user.editable">
                </td>
                <td >
                	<div class="button tiny" ng-click="edit()">编辑</div><div class="button tiny" ng-click="delete()">删除</div>
                </td>
            </tr>
        </tbody>
    </table>
</section>
