<section class="user">
    <div class="search">
            <div class="button-container">
                <div class="button tiny" ng-click='add()' ng-if="checkRight('user/update')">添加</div>
            </div>
    </div>
    <table class="content-list">
        <thead>
            <tr>
            	<th ng-repeat="userH in userHead" ng-bind="userH"></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in data.users">
                <td>
                	<span ng-bind="user.username"></span>
                </td>
                <td>
                	<span ng-bind="user.name"></span>
                </td>
                <td >
                	<div class="button tiny" ng-click="edit()" ng-if="checkRight('user/update')">修改</div>
                    <div class="button tiny" ng-click="delete()" ng-if="checkRight('user/delete')">删除</div>
                </td>
            </tr>
        </tbody>
    </table>
</section>
