<section class="order">
    <div class="search">
        <div>
            <label><span>姓名</span><input type="text" ng-model="searchInfo.order.peoplename"></label>
            <label><span>产品名称</span><input type="text" ng-model="searchInfo.order.ordername"></label>
            <label><span>起始时间</span>
                <input type="text" ui-date="dateOptions" ng-model="searchInfo.order.startTime">
            </label>
            <label><span>截止时间</span>
                <input type="text" ui-date="dateOptions" ng-model="searchInfo.order.endTime">
            </label>
            <div class="button-container">
                <div class="button tiny info" ng-click='search()'>查询</div>
                <div class="button tiny" ng-click='add()'>添加</div>
            </div>
        </div>
    </div>
    <table class="content-list">
        <thead>
            <tr>
            	<th ng-repeat="tableH in tableHead" ng-bind="tableH"></th>
            </tr>
        </thead>
        <tbody ng-repeat="order in data.orders">
            <tr ng-repeat="item in order.orderItems">
                <td>
                	<span ng-bind="order.ordertime | getDataFromStr | date:'yyyy-MM-dd'"></span>
                </td>
                <td>
                    <span ng-bind="order.peoplename"></span>
                </td>
                <td>
                    <span ng-bind="item.note"></span>
                </td>
                <td>
                    <span ng-bind="item.totalmoney"></span>
                </td>
                <td width="100px">
                    <div class="button tiny" ng-click="view()">查看详情</div>
                </td>
                <td width="150px">
                    <div class="button tiny" ng-click="edit()">修改</div>
                    <div class="button tiny" ng-click="delete()">删除</div>
                </td>
            </tr>
        </tbody>
    </table>
    
    <pagination total-items="totalItems" items-per-page="searchInfo.page.pageSize" page="searchInfo.page.pageNo" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages" previous-text="上一页" next-text="下一页" first-text="首页" last-text="末页" on-select-page="setPage(page)"></pagination>
</section>
