<div class="wujin-update">
    <div class="order-head">
        <div>
            <label><span><i>*</i>姓名</span>
                <input type="text" ng-model="data.order.peoplename" ng-disabled="isEdit">   
            </label>
            <label><span><i>*</i>日期</span>
                <input type="text" ui-date="dateOptions" ng-model="data.order.ordertime" ng-disabled="isEdit">
            </label>
            <div class="associated"  ng-if="!isEdit">
                <label><!-- <span><i>*</i>关联订单</span> -->
                    <div class="button tiny info" ng-click="getAssociatedOrder()">关联订单</div>
                    <select ng-model="data.associatedOrderIndex" ng-change="ChangeAssociatedOrder(as)" ng-if="data.associatedOrders.length>0">
                        <option ng-repeat="as in data.associatedOrders" ng-value="$index" ng-bind="as.ordername" ng-selected="$first"></option>
                    </select>
                </label>
                <!-- <div class="button tiny info" ng-click="get()">获取</div> -->
            </div>
            <label ng-if="!isEdit"><span>类型</span>
                <select ng-model="data.goodsIndex" ng-change="ChangeDetailsT(option)">
                    <option ng-repeat="option in data.options" ng-value="$index" ng-bind="option.name" ng-selected="$first"></option>
                </select>
            </label>
            <div class="button-container">
                <div class="button tiny info" ng-click="back()">返 回</div>
                <div class="button tiny" ng-click="save()">保 存</div>
            </div>
        </div>
        <div>
            <label><span><i>*</i>产品名称</span>
                <input type="text" ng-model="data.order.orderItems.note">
            </label>
        </div>
    </div>
    <div class="order-detail">
        <table border="0" cellspacing="1" cellpadding="0">
            <thead>
                <tr>
                    <th>品名</th>
                    <th>数量</th>
                    <th>单位</th>
                    <th>单价（元）</th>
                    <th>总价（元）</th>
                </tr>
            </thead>
            <tbody  ng-repeat="item in data.order.orderItems.itemDetails">
                <tr>
                    <td><input type="text" ng-model="item.detaild" ng-change="change(item)"></td>
                    <td><input type="tel" onkeyup="value=value.replace(/[^\-?\d.]/g,'')" min="0" ng-model="item.detaila" ng-keyup="sum(item);sum2(data.order)"></td>
                    <td><input type="text" ng-model="item.detaile"></td>
                    <td><input type="tel" onkeyup="value=value.replace(/[^\-?\d.]/g,'')" min="0" ng-model="item.detailb" ng-change="sum(item);sum2(data.order)"></td>
                    <td><input type="tel" onkeyup="value=value.replace(/[^\-?\d.]/g,'')" min="0" ng-model="item.detailc" ng-change="sum2(data.order)"></td>
                </tr>
            </tbody>
        </table>
        <div style="text-align:right">
            <div class="button tiny info" ng-click="data.order.orderItems.itemDetails.push({})">+</div>
        </div>
        <div class="gather">
            <span ng-click="sum3(data.order)">合计：¥ </span><input type="tel" onkeyup="value=value.replace(/[^\-?\d.]/g,'')" min="0" ng-model="data.order.orderItems.totalmoney">
        </div>
    </div>    
</div>