/**
 *  If you want to override some foundation settings, you have to change values here.
 *  The list of settings values are listed here bower_components/foundation/scss/foundation/_settings.scss
 */
// $topbar-bg-color: #283435;
@import './settings';

/**
 *  The import of foundation is made manually because there is still no links of the
 *  sass version in their bower.json...
 */
@import '../../bower_components/foundation/scss/foundation';
@import "../../bower_components/font-awesome/css/font-awesome.css";

/**
 *  Do not remove this comments bellow. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.panel {
  margin-top: 50px;
}

.th {
  width: 100%;
  height: 200px;

  img.right {
    width: 50px;
  }
}
#root {
  width: 100%;
  height: 100%;
}

.ui-datepicker {
  display: none;
  border: 1px solid #aaaaaa;
  border-radius: 4px;
  padding: 0.3rem;
  background: #FFF;
  .ui-datepicker-header {
    .ui-datepicker-prev {
      position: absolute;
      left: 2px;
      padding: 0.3rem 0.5rem;
      font-size: 1.2em;
    }
    .ui-datepicker-next {
      position: absolute;
      right: 2px;
      padding: 0.3rem 0.5rem;
      font-size: 1.2em;
    }
    .ui-datepicker-title {
      text-align: center;
      select {
        // display: inline-block;
        width: 35%;
        border-radius: 4px;
      }
    }
    .ui-datepicker-month {
      
    }
    .ui-datepicker-year {
      
    }
  }
}


.search {
  margin: 5px 0 0 0;
  padding: 10px 10px 1px 0;
  border: solid 1px #DDD;
  border-bottom: none;
  > div {
    display: flex;
    margin-bottom: 0.6rem;
  }
  label {
    flex: 2;
    display: flex;
    line-height: 2rem;
    margin-left: 20px;
    span {
      width: 4em;
    }
  }
  input {
    width: auto;
    height: 2rem;
    margin: 0 0 0 10px;
    flex: 1;
  }
  .button-container {
    display: block;
    text-align: right;
    flex: 1;
  }
}
table.content-list {
  td {
    padding: 0;
    >span {
      padding: 0.5rem;
    }
  }
  width: 100%;
  input, select {
    margin: 0;
  }
  input[disabled] {
    border: none;
    box-shadow: none;
    background-color: inherit;
  }
  .button {
    margin-bottom: 0;
  }
  td:last-child {
    text-align: right;
  }
}

/**
 *  Do not remove this comments bellow. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
