.admin {
	.button.tiny {
		margin: 0 0.3rem 0 0;
	}
	.button.add {
		background: #5C8D9E;
	}
	.successmsg {
		color: #0F0;
		text-align: right;
	}
	.errormsg {
		color: #F00;
		text-align: right;
	}
}