.admin {
	.search {
		margin: 10px 0 0 0;
		padding: 15px 10px 1px;
		border: solid 1px #DDD;
		border-bottom: none;
		> div {
			display: flex;
			margin-bottom: 0.8rem;
		}
		label {
			flex: 2;
			display: flex;
			line-height: 2rem;
			margin-left: 20px;
			span {
				width: 4em;
			}
		}
		input {
			width: auto;
			height: 2rem;
			margin: 0 0 0 10px;
			flex: 1;
		}
		.button-container {
			display: block;
			text-align: right;
			flex: 1;
		}
	}
	table {
		td {
			padding: 0;
			span {
				padding: 0.5rem;
			}
		}
		width: 100%;
		input {
			margin: 0;
		}
		input[disabled] {
			border: none;
			box-shadow: none;
			background-color: inherit;
		}
		.button {
			margin-bottom: 0;
		}
		td:last-child {
			text-align: right;
		}
	}
	.button.tiny {
		margin: 0 0.3rem 0 0;
	}
	.button.add {
		background: #5C8D9E;
	}
	.successmsg {
		color: #0F0;
		text-align: right;
	}
	.errormsg {
		color: #F00;
		text-align: right;
	}
}