@function randomHsl($s, $l) {
	@return hsl(random(360), $s, $l);
}

menu {
	margin: 0;
	padding: 0;
}

.accordion {
	dd {
		>a {
			border-bottom: 1px solid #ccc;
			position: relative;
			color: #FFF;
			padding: 0.8rem;
		}
		i {
			line-height: 1.5rem;
		}
		.content {
			padding: 0;
			ul {
				margin: 0;
				list-style: none;
				li {
					border-bottom: 1px solid $primary-color;
					a {
						display: block;
						padding: 0.8rem;
						color: #666;
					}
				}
				li:last-child {
					border: none;
				}
			}
		}

	}

}